<a href="https://colab.research.google.com/github/saivardhan31/saivardhanreddy_INFO5731_Spring2022/blob/main/In_class_exercise_01_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
len("string")

6

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
print({ch:"google.com".count(ch) for ch in "google.com"})

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
sum([1, 2, 3, 4, 5])

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
s = "restart"
print(s[0]+s[1:].replace(s[0], "$"))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
S = lambda a, b: 3.14*((1+(a/b))**3)
S(2, 3)

14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
dic = dict()
dic.update(dic1)
dic.update(dic2)
dic.update(dic3)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
check = lambda tup, ele: ele in tup
check((1, 2, 3, 4, 5), 1)

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
s = {1, 2, 3, 4, 5}
print(max(s), min(s))

5 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386','ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
from random import shuffle
at = int(len(studnet_list)/6)
shuffle(studnet_list)
[studnet_list[i:i + at] for i in range(0, len(studnet_list), at)]

[['kg0569', 'bg0320', 'sk1458', 'ak0934', 'vb0218'],
 ['vm0377', 'sb1357', 'kg0470', 'aos0040', 'av0659'],
 ['fh0141', 'ms1500', 'nm0618', 'dr0609', 'hy0232'],
 ['sm1907', 'ds0814', 'sk1313', 'ja0964', 'nv0234'],
 ['sa1198', 'sk1386', 'sg1297', 'gn0108', 'sc1229'],
 ['pr0353', 'ak0956', 'sk1390', 'jl1252', 'sm1640']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
duplicate = lambda l: -1 if len(l) == len(set(l)) else 0
duplicate((1, 2, 3, 4, 5))

-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
import pandas as pd
sundays = lambda year: pd.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%m/%d/%Y').tolist()
sundays(2022)

['01/02/2022',
 '01/09/2022',
 '01/16/2022',
 '01/23/2022',
 '01/30/2022',
 '02/06/2022',
 '02/13/2022',
 '02/20/2022',
 '02/27/2022',
 '03/06/2022',
 '03/13/2022',
 '03/20/2022',
 '03/27/2022',
 '04/03/2022',
 '04/10/2022',
 '04/17/2022',
 '04/24/2022',
 '05/01/2022',
 '05/08/2022',
 '05/15/2022',
 '05/22/2022',
 '05/29/2022',
 '06/05/2022',
 '06/12/2022',
 '06/19/2022',
 '06/26/2022',
 '07/03/2022',
 '07/10/2022',
 '07/17/2022',
 '07/24/2022',
 '07/31/2022',
 '08/07/2022',
 '08/14/2022',
 '08/21/2022',
 '08/28/2022',
 '09/04/2022',
 '09/11/2022',
 '09/18/2022',
 '09/25/2022',
 '10/02/2022',
 '10/09/2022',
 '10/16/2022',
 '10/23/2022',
 '10/30/2022',
 '11/06/2022',
 '11/13/2022',
 '11/20/2022',
 '11/27/2022',
 '12/04/2022',
 '12/11/2022',
 '12/18/2022',
 '12/25/2022',
 '01/01/2023']